@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="contact-box">
    <h2>Contacto</h2>
    <p>Si necesitas ponerte en contacto con nosotros, aquí tienes toda la información</p>

    <div class="contact-info">
        <div class="contact-details">
            <div class="address">
                <h3><i class="fas fa-map-marker-alt"></i> Dirección</h3>
                <p>15 Av Norte, San Salvador, El Salvador</p>
            </div>
            <div class="phone">
                <h3><i class="fas fa-phone"></i> Teléfono</h3>
                <p>+503 7643-2664</p>
            </div>
        </div>
        <div class="email-hours">
            <div class="email">
                <h3><i class="fas fa-envelope"></i> Correo Electrónico</h3>
                <p>softdocs2024@gmail.com</p>
            </div>
            <div class="hours">
                <h3><i class="fas fa-clock"></i> Horario de Atención</h3>
                <p>Lunes - Viernes: 7:30 AM - 5:00 PM</p>
                <p>Sábado: 8:00 AM - 12:00 PM</p>
            </div>
        </div>
    </div>

    <!-- Redes sociales  -->
    <div class="social-media">
        <h3><i class="fas fa-share-alt"></i> Redes Sociales</h3>
        <p>
            <a href="https://www.facebook.com/people/Softdocs/61566984731997/?mibextid=LQQJ4d" target="_blank"><i class="fab fa-facebook"></i> Facebook</a> |

        </p>
    </div>
</div>

<!-- Estilos personalizados para esta página -->
<style>
    .contact-box {
        padding: 20px;
        background-color: #f9f9f9;
        margin-top: 75px;
        margin-bottom: 0;
    }

    .contact-info {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-bottom: 0;
    }

    .contact-details,
    .email-hours {
        flex: 1;
    }

    .address,
    .phone,
    .email,
    .hours {
        margin-bottom: 20px;
    }

    .social-media {
        margin-top: 20px;
        margin-bottom: 0;
    }

        .social-media a {
            margin-right: 10px;
            text-decoration: none;
        }

            .social-media a i {
                margin-right: 5px;
            }

            .social-media a:hover {
                color: #007bff;
            }
</style>
