
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout1Cliente.cshtml";
}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Calistoga&family=Playwrite+CU:wght@100..400&display=swap" rel="stylesheet">
    <link href="~/css/menuadministrador.css" rel="stylesheet" />


    <title>Bienvenido Cliente</title>

</head>
<body class="cuerpo">

    <div class="welcome-container">
        <h1 class="welcome-title">Bienvenido Cliente</h1>
    
    </div>

    <footer class="bg-transparent text-center py-3 mt-4">
        <p>&copy; 2024 AppSoftDoc. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
